<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="refresh" content="300">
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes"/>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link type="text/css" rel="stylesheet" href="/css/demo.css"/>
    <link type="text/css" rel="stylesheet" href="/dist/css/jquery.mmenu.all.css"/>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/dist/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript">
      $(function() {
        $('nav#menu').mmenu();
      });
    </script>

  <title>Zembo</title>
  </head>

  <div>
    <nav id="menu">
      <ul>
        <!-- USER PICTURE HERE -->
        <div id="prof">
          <a href="/user/profile/{{userID}}">
            <div id="drawerProfPic">
              <img id="drawerImage" src="/imgs/users/{{userID}}.jpg">
            </div>
            <div id="drawerName">{{fname}} {{lname}}</div>
          </a>
        </div>
        
        <li><a id = "standard" href="/index">Home</a></li>
        <li><a id="onlyWhenLoggedIn" href="/admin/controls" action="/admin/auth">Admin</a></li>
        <li><a id = "standard" href="/about">About</a></li>
        <li><a id = "standard" href="/team">Team</a></li>
        <li><a id="onlyWhenLoggedIn" href="/user/logout">Logout</a></li>
      </ul>
    </nav>
  </div>

  <body>
    {{{body}}}
  </body>
  
</html>