<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/class.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>

  <div id="cont">
    <div id="tp">
      <ul id="nav">
        <li><a href="">+ Post</a></li>
        <li><a href="/group/schedule?classid={{classid}}">+ Event</a></li>
        <p1>{{num}}</p1>
      </ul>
      <ul id="eventsAndPosts">
        {{#each events}}
           <li><a href="/class/content?classid={{classid}}&eid={{eid}}"><i id="calendar" class="icon fa fa-calendar fa-1x"></i> <b>{{this.title}}</b> - <i>{{this.name}} </i>scheduled for {{this.date}} <i id="arrow" class="fa fa-arrow-right"></i></a></li>
        {{/each}}   
      </ul> 
    </div>
  </div>
</html>