<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>

  <div id="cont">
      <div id="tp">
        {{num}} <br>
        {{#each students}}
          {{this}} <br>
        {{/each}}
      </div>
  </div>
  <table >      
      <tr>
        <th>
          Name
        </th>
        <th>
          Date
        </th>
        <th>
          Description
        </th>
        <th>
          Location
        </th>
        <th>
          Creator
        </th>
      </tr>
      {{#each events}}
      <tr>
        <td>
          {{this.title}}
        </td>
        <td>
          {{this.date}}
        </td>
        <td>
          {{this.description}}
        </td>
        <td>
          {{this.location}}
        </td>
        <td>
          {{this.name}}
        </td>
      </tr>
      {{/each}}
      </table>
</html>
