<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/event.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
    </div>
  </div>

    <div id="cont">
    <div id="tp">
      <ul id="nav">
        <li><a href="/group/createPost?classid={{classid}}">+ Post</a></li>
        <li><a href="/group/createEvent?classid={{classid}}">+ Event</a></li>
        <p1>{{data.title}} - <i>{{data.name}}</i></p1>
      </ul> 
      <ul id="events">
        <li><a><i id="calendar" class="icon fa fa-calendar fa-1x"></i> <b>{{data.title}}</b> scheduled for {{data.date}} <b><i id="nameRight">{{data.name}}</i></b></a></li>
        <li><a><b>Description - </b><i>{{data.description}}</i></a></li>
        <li><a><b>Where - </b><i>{{data.location}}</i></a></li>
          <li id="yes"><a href="/group/attendEvent?classid={{classid}}&eid={{eid}}">Attend</a></li>
          <li id="no"><a href="/group/ignoreEvent?classid={{classid}}&eid={{eid}}">Ignore</a></li>
        </form>
      </ul>
    </div>
  </div>

  Attending: {{stats.attending.length}} <br>
  Ignoring: {{stats.ignoring.length}} <br>
  Total responses: {{stats.total}}
</html>