<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script>
      $(document).ready(function() {
        $("#addclass").click(function() {
          $("#addclassdropdown").slideToggle("fast");
        });
      });
     </script> 

    <script>
      $(document).ready(function() {
        $("#class1").click(function() {
          $("#extend1").slideToggle("fast");
        });
      });

      $(document).ready(function() {
        $("#class2").click(function() {
          $("#extend2").slideToggle("fast");
        });
      });

      $(document).ready(function() {
        $("#class3").click(function() {
          $("#extend3").slideToggle("fast");
        });
      });

      $(document).ready(function() {
        $("#class4").click(function() {
          $("#extend4").slideToggle("fast");
        });
      });
    </script>
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
        <i id="addclass" class="fa fa-plus-circle"></i>
    </div>

    <!-- add class dropdown -->
    <div id="addclassdropdown">
       <center> <div id="form">
         <form method="post" action="/user/addClass">
            <select name="values">
              {{#each classList}}
                <option value="{{this.class_id}}, {{this.num}}">
                  {{this.num}}
                </option>
              {{/each}}
            </select><br>
            <button class="btn">Add Class</button>
         </form>
      </center>
    </div>
  </div>

  <div class="content"></div>
    <div id="cont">
      <div id="tp">
        {{#if classes.length}}
        {{#each classes}}
          <ul id="class1">
            <div id="classname">
              <p2><a href="/class/{{this.class_id}}">{{this.num}}</a></p2>
            </div>
            <i id="dropdown" class="fa fa-chevron-down"></i>
          </ul>
        {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</html>
