<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/css/profile.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <div id="page">
    <div class="header">
      <a href="#menu"></a>
        Zembo
    </div>
  </div>
  <div id="cont">
    {{#each data}}
      <div id="tp">
	     <div id="profilepicture">
	     	<center><img id="studentImage" src="/imgs/users/{{this.spireid}}.jpg" alt="{{this.fname}}"></center>
	     </div>
	     <div id="details">
	     <center><ul>
	     		<p3><li>{{this.fname}} {{this.lname}}</li>
	     		<li>{{this.major}}</li>
	     		<li>{{this.year}}</li>
	     		<li>Birthdate: {{this.dob}}</li>
	     	</ul></center>
	     </div>
	     
	     <hr/>
     </div>
     {{/each}}
</html>
