<!DOCTYPE html>
<html>
	<head>
  	<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script> 
        $(document).ready(function() {
          $("#update").click(function() {
            $("#extend1").slideToggle("fast");
          });
        });
      </script>
    </script> -->

    <link type="text/css" rel="stylesheet" href="../css/profile.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>
  <div id="cont">
  	{{#each data}}
      <div id="tp">
	     <div id="profilepicture">
	     	<center><img id="studentImage" src="../imgs/users/{{this.spireid}}.jpg" alt="{{this.fname}}"></center>
	     </div>
	     <div id="details">
	     <center><ul>
	     		<p3><li>{{this.fname}} {{this.lname}}</li>
	     		<li>{{this.major}}</li>
	     		<li>{{this.year}}</li>
	     		<li>Birthdate: {{this.dob}}</li>
	     		<li>SPIRE: {{this.spireid}}</li></p3>
	     	</ul></center>
	     </div>
	     <div id="about">
	     <center><p3><b>About</b><br></p3>
	     	{{this.about}}</p3>
	     </div>

	     <hr/>
	     <center><a id="update">update about</a></center>
	     <div id="extend1">
	     	 <center> <form id="updateform" method="post" action="/user/update">
                <input type="text" name="about" required><br>
                <button class="btn">update</button>
             </form> </center>
	     </div>
     </div>
     {{/each}}
</html>