<!DOCTYPE html>
<html>
  
  <div id="page">
    <div class="header">
      <a href="#menu"></a>
      Zembo
    </div>
  </div>

  {{#each data}}
  <body>
    {{this.pcontent}} {{this.pid}} {{this.pdate}} <br>
    {{this.ccontent}} {{this.cid}} {{this.cdate}} <br>
  </body>
  {{/each}}

</html>