<!DOCTYPE html>
<html>
  
  <head>
    <link type="text/css" rel="stylesheet" href="dist/css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="css/team.css">
    <link type="text/css" rel="stylesheet" href="css/member.css">
  </head>

  <div id="page">
    <div class="header">
    <a href="#menu"></a>
      Zembo
    </div>
    </div>
    <div class="content"> 
    
    </div>

    <div id="cont">
    <div id="tp">

    <div id="panel1">
        <ul id="test">
          <center><img src ="imgs/logo.png" width="155" height="95px"></center>
          </div>
        </ul>
      </div>

   <center> <h1>Team Portfolio</h1>

    <div id="head2"><h2>Meet the Members</h2></div>
    {{#each members}}
    <div class="memberName"><a href="?user={{this.user}}">{{this.fname}} {{this.lname}}</a></div>
    <div class="positionClass">{{this.pos}}</div>
    <div class="Description">{{this.desc}}</div> 
    {{/each}}
  </center>
      

    </div>
    <nav id="menu">
      <ul>
        <li><a href="http://localhost:3000">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="mockups">Layout</a></li>
      </ul>
    </nav>
  </div>
  
</html>