<!DOCTYPE html>

<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="../css/adminControls.css" />
  </head>

  <body id="cont">

  	<div id="page">
    <div class="header">
    <a href="#menu"></a>
      {{title}}
    </div>
    </div>

  		<table id="userlist">
  			
  		<tr>
  			<th>
  				Name
  			</th>
  			<th>
  				Email
  			</th>
  			<th>
  				Flags
  			</th>
  			<th>
  				BAN?
  			</th>
  		</tr>

  		{{#each users}}

  		<tr>
  			<td>
  				{{this.fname}} {{this.lname}}
  			</td>
  			<td>
  				{{this.email}}
  			</td>
  			<td>
  				{{this.flags}}
  			</td>
  			<td>
          <form method="post" action="/admin/ban/{{this.email}}">
  				  <button>BAN</button>
          </form>
  			</td>
  		</tr>


  		{{/each}}



  		</table>
  	
  </body>

  </html>